
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #424242;
    overflow-x: hidden;
}
nav{
    height: 10vh;
    background-color: #161716;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 1.7em;
    font-family: monospace;
    color: #a5a4a4;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

.title::after{
    position: absolute;
    content: "";
    width: 30%;
    height: 0.1em;
    background-color: #a5a4a4;
    margin: auto;
    left: 0;
    right: 0;
    width: 70px;
    top: 1.5em;

}

/***********NAVIGATION***********/
nav .nav-wrap{
    height: 60%;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
   
}
nav .nav-wrap #sections{
    display: none;
}
nav .nav-wrap #logo{
    color: #00B567;
    font-family: monospace;
    font-size: 1em;
    letter-spacing: 3px;
}
nav .nav-wrap .menu{
    color: rgb(212, 212, 212);
    font-size: 2.3rem;
    z-index: 6;
}
.menu-phone{
    width: 100vw;
    height: 90vh;
    background-color: rgb(49, 49, 49);
    z-index: 5;
  position: absolute;
  -webkit-clip-path:  circle(100px at 100% -5%);
  transition: 0.8s ease-in-out;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.menu-phone ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    
}

.menu-phone ul li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 10vw;
    
}

.menu-phone ul li a{
   text-decoration: none;
   color: rgb(201, 201, 201);
   font-size: 2rem;
   font-family: monospace;
   letter-spacing: 0.3rem;
}
.open-menu{
    visibility: visible;
    -webkit-clip-path:  circle(1000px at 100% -2%);

}

.container{
    max-width: 1200px;
    margin: auto;
    /* background-color: #FC490B; */

}
/***********HOME***********/
.home{

    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home #greeting{
    color: #a5a4a4;
    font-family: monospace;
    font-size: 1.5em;
}
.home .typing{
position: relative;
margin-top: 15px;
/* color: #b1a500; */
/* color: #7cb100; */
color: #00B567;
font-family: 'Poppins', sans-serif;
font-size: 2.1em;
/* text-shadow: 0 0 10px  #1f1f1f */
}

.home .typing::after{
    content: "";
    position: absolute;
    right: -5px;
    height: 100%;
    border-right: 2px solid #fff; 
    animation: type 1s infinite ease;
}

@keyframes type {

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.home > div #space{
    margin-top: 50px;
    width: 270px;
    height: 270px;
    background-color:#161716;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
}

.home > div #space #rocket{
    width: 190px;
    animation: fly 2.5s infinite;
}

@keyframes fly {
    50%{
        transform: translateY(-12%);
    }
} 
.home > div .project-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home > div .project-contact .project-idea{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #a5a4a4;
    font-size: 1.4em;
    margin-bottom: 20px;
}
.home > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home > div  .project-contact .go-to-contact{
    width: fit-content;
    background-color: #00B567;
    padding: 15px;
    font-family: monospace;
    font-size: 1.3em;
    border-radius: 3px;
    letter-spacing: 1.3px;
    
}
.home  > div .project-contact .go-to-contact a {
    text-decoration: none;
    color: #ffffff;
}

/***********SKILLS***********/

.skills{
    width: 100%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.skills .tech-panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tech{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech .tech-icon{
    font-size: 4em;
}

.html{
    color: #FC490B;
}

.css{
    color: #2196F3;
}
.js{
    color: #F0DB4F;
}

.java{
    width: 50%;
}

.mongo{
    width: 60%;
}

.vue{
    width: 50%;
}


.git{
    color: #DE4C36;
}

.node{
    color:#8CC84B;
}

.sass{
    color: #CF649A;
  
}
/***********PROJECTS***********/
.portfolio{
    width: 95vw;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
}

.portfolio .projects{
    display: flex;
    margin-top: 20px;

}

.portfolio .projects .project{
    margin: auto;
    width: 100%;
    background-color: rgb(105, 105, 105);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}
.portfolio .projects .project p{
    margin-bottom: 7px;
    font-family: 'Poppins'  ;
    margin-top: 7px;
    color: rgb(20, 20, 20);
    text-align: center;
}
.portfolio .projects .project a{
    display: flex;
     
    justify-content: center;
    align-items: center;
}
.portfolio .projects .project img{
    width: 95%;

    border-radius: 6px;
    margin-bottom: 10px;
}

.visit-site{
    text-decoration: none;
    background-color: rgb(25, 27, 39);
    padding: 6px 10px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-size: 0.8rem;
    border-radius: 3px;
    color: #ffffff;
}

/***********CONTACT***********/
.contact{
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.contact .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.contact .social .email{
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 0.9em;
    cursor: pointer;
}

.contact .social .linkedin{
    width: 50px;
    color: #006699;
    margin-top: 20px;
}

/* FOOTER */
footer{
    height: 80px;
    width: 100vw;
    background-color: #161716;
    font-family: 'Poppins';
    margin-top: 30px;
}
footer p{
    line-height: 80px;
    text-align: center;
    color: rgb(221, 221, 221);
}
footer p i{
    color: rgb(255, 255, 255);
    margin-right: 5px;
    font-size: 1.3em;
}

footer p a{
    text-decoration: none;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(221, 221, 221);
}


.swiper {
    width: 100%;
}

.arrow::after{
    font-size: 1rem;
    color: #cfcfcf;
}



